@model ModificaProdotto

@{
    ViewData["Title"] = "Modifica Prodotto";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Home" asp-action="SaveEdit" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Marca" asp-for="Marca">Marca</label>
        <input type="text" class="form-control" id="Marca" asp-for="Marca" placeholder="Inserisci la marca">
        <span class="text-danger" asp-validation-for="Marca"></span>
    </div>
    <div class="form-group">
        <label for="Modello" asp-for="Modello">Modello</label>
        <input type="text" class="form-control" id="Modello" asp-for="Modello" placeholder="Inserisci il modello">
        <span class="text-danger" asp-validation-for="Modello"></span>
    </div>
    <div class="form-group">
        <label for="Prezzo" asp-for="Prezzo">Prezzo</label>
        <input type="number" class="form-control" id="Prezzo" asp-for="Prezzo" placeholder="Inserisci il prezzo">
        <span class="text-danger" asp-validation-for="Prezzo"></span>
    </div>
    <div class="form-group">
        <label for="Descrizione" asp-for="Descrizione">Descrizione</label>
        <textarea class="form-control" id="Descrizione" asp-for="Descrizione" rows="3" placeholder="Inserisci la descrizione"></textarea>
        <span class="text-danger" asp-validation-for="Descrizione"></span>
    </div>
    <div class="form-group">
        <label for="UrlCopertina" asp-for="UrlCopertina">Url Copertina</label>
        <input type="text" class="form-control" id="UrlCopertina" asp-for="UrlCopertina" placeholder="Inserisci l'url della copertina">
        <span class="text-danger" asp-validation-for="UrlCopertina"></span>
    </div>
    <div class="form-group">
        <label for="InputUrl" asp-for="InputUrl">URL Immagini (separati da virgola):</label>
        <input type="text" class="form-control" id="InputUrl" asp-for="InputUrl" placeholder="Inserisci gli URL delle immagini, separati da virgola">
        <span class="text-danger" asp-validation-for="InputUrl"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}